body {
  padding: 20px 300px;
}

.mainHeader {
  position: fixed;
  top: 0;
}

.header {
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 60px;
  line-height: 20px;
  background-color: #20716a;
  font-size: 40px;
  color: #ffd36b;
}
.sticky {
  position: fixed;
  top: 60px;
}
